@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@font-face {
    font-family: 'bubbleboddyneue';
    src: url('./assets/fonts/bubbleboddyneue-regular trial.woff') format('woff'),
}

app-root {
    display: flex;
    flex-direction: column;
    align-items: center;
    --font-title: "bubbleboddyneue", sans-serif;
    --font-text: "Comfortaa", sans-serif;
}

body {
    margin: 0;
}


app-home {
    width: 100%;
}