.accueil {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

h1 {
    font-family: var(--font-title);
    color: #DA001E;
}

.img-asterix {
    background-image: url(../../../public/groupe_du_village.jpg);
    background-size: cover;
    background-position: center;
}

.description-bg {
    background-color: #F9D0A3CC;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #151217;
}


.description p {
    font-family: var(--font-text);
    font-weight: 900;
    font-size: 1.2em;
}

.filter-container {
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.filter-container span {
    width: 10%;
}

.name-search {
    width: 60%;
    padding: 8px;
    font-family: var(--font-text);
    background-color: #da001d77;
    border-radius: 15px;
}

.filter-price {
    width: 10%;
    padding: 8px;
    font-family: var(--font-text);
    background-color: #da001d77;
    border-radius: 15px;
}

.filter-price:hover {
    background-color: #ff002278;
}

.filter-price:active {
    background-color: #da001d77;
}

.products {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.products-list {
    margin: 20px 0 20px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center; 
    justify-items: center;
    grid-gap: 15px;
}

.products-list > * {
    border: 1px solid #151217;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}

@media screen and (max-width: 767px) {
    .description, .products-list, .filter-container{
        width: 85%;
    }

    .products-list {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .description, .products-list, .filter-container{
        width: 85%;
    }
    .products-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1281px) {
    .description, .products-list, .filter-container{
        width: 60%;
    }
}