<div class="about">
    <div class="about-container">
        <h2>A propos</h2>
        <p>
            Bienvenue dans l'univers magique de La Boutique Gauloise ! Nichée au cœur de la Bretagne, notre atelier-boutique fait vivre la passion des aventures d'Astérix et Obélix à travers des créations artisanales uniques. Chaque pièce est façonnée à la main avec amour par nos artisans passionnés, perpétuant ainsi l'esprit festif et courageux de nos héros gaulois.
        </p>
        <p>  
            Depuis 2020, nous mettons notre savoir-faire au service de votre imagination pour créer des objets de décoration, des accessoires et des pièces de collection qui raviront petits et grands. Du célèbre casque ailé aux menhirs miniatures, en passant par des reproductions de boucliers, chaque création raconte une histoire et apporte une touche d'humour gaulois à votre intérieur.
        </p>
        <h3>Notre équipe</h3>
        <img src="/équipe.webp" alt="Une photo de l'équipe avec 2 homme et 3 femmes devant une boutique">
        <p>
            Marie - Fondatrice et Maître Artisane
            Véritable Bonemine des temps modernes, Marie dirige l'atelier d'une main de maître depuis sa création. Sa spécialité : les sculptures miniatures.
        </p>
        <p>
            Pierre - Artisan Sculpteur
            Notre expert en taille de pierre crée des menhirs décoratifs de toutes tailles. Son sens du détail n'a d'égal que sa force tranquille.
        </p>
        <p>
            Sophie - Artisane Céramiste
            Créatrice de nos célèbres gobelets et amphores, Sophie donne vie à la vaisselle gauloise avec une touche contemporaine.
        </p>
        <p>
            Julie - Artisane Décoratrice
            Notre experte en peinture et finitions apporte les touches de couleur qui rendent nos créations si vivantes. Ses décors peints à la main transforment chaque pièce en œuvre d'art unique.
        </p>
        <p>
            Lucas - Apprenti Artisan
            Le plus jeune de l'équipe, aussi agile qu'enthousiaste, se forme à tous les aspects de l'artisanat gaulois."
        </p>
    </div>
</div>
