header {
    width: 100%;
}

app-header {
    width: 100%;
    margin: 0;
    background-image: url(/navigation-bg.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #F9D0A3;
}

footer {
    width: 100%;
}

app-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #240000;
}

@media screen and (max-width: 767px) {
    app-header {
        background-size: 170%;
    }
}